node_modules
.env
.env.local
.env.example
.DS_Store
dist
build
.next
coverage

backend/.env
backend/.env.local
backend/.env.example

frontend/.env
frontend/.env.local
frontend/.env.example

backend/uploads/*
!backend/uploads/.gitkeep